<% include ./partials/header %>

<h1>Login page</h1>

<form method='POST' action='/login'>
    <input name='username' type='text' placeholder='username'>
    <input name='password' type='password' placeholder='password'>
    <input type='submit' value='Login!'>
</form>

<% include ./partials/footer %>