<h1>this is the secret page</h1>

<p> you found me</p>

<img src='https://farm3.staticflickr.com/2104/2090013005_2b5f913ce4.jpg'>

<li><a href='/register'>Sign Up!</a></li>
<li><a href='/login'>Login!</a></li>
<li><a href='/logout'>Logout!</a></li>